#s-078b09c5-5950-4933-bb9b-f35aad505753 #s-Label_91 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-078b09c5-5950-4933-bb9b-f35aad505753 #s-Button-3_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-078b09c5-5950-4933-bb9b-f35aad505753 #s-Button-1_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-078b09c5-5950-4933-bb9b-f35aad505753 #s-Button-2_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-078b09c5-5950-4933-bb9b-f35aad505753 #s-Button-6_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-078b09c5-5950-4933-bb9b-f35aad505753 #s-Button-4_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-078b09c5-5950-4933-bb9b-f35aad505753 #s-Button-5_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-078b09c5-5950-4933-bb9b-f35aad505753 #s-Button-9_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-078b09c5-5950-4933-bb9b-f35aad505753 #s-Button-7_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-078b09c5-5950-4933-bb9b-f35aad505753 #s-Button-8_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-078b09c5-5950-4933-bb9b-f35aad505753 #s-Button-hash_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-078b09c5-5950-4933-bb9b-f35aad505753 #s-Button-Asterisc_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-078b09c5-5950-4933-bb9b-f35aad505753 #s-Button-0_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-078b09c5-5950-4933-bb9b-f35aad505753 #s-dot-blue {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-078b09c5-5950-4933-bb9b-f35aad505753 #s-dot-blue_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-078b09c5-5950-4933-bb9b-f35aad505753 #s-dot-blue_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-078b09c5-5950-4933-bb9b-f35aad505753 #s-dot-blue_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-078b09c5-5950-4933-bb9b-f35aad505753 #s-Label_89 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-078b09c5-5950-4933-bb9b-f35aad505753 #s-Label_425 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-078b09c5-5950-4933-bb9b-f35aad505753 #s-Label_434 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-078b09c5-5950-4933-bb9b-f35aad505753 #s-Label_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-078b09c5-5950-4933-bb9b-f35aad505753 #s-Ellipse_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-078b09c5-5950-4933-bb9b-f35aad505753 #s-Ellipse_69 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-078b09c5-5950-4933-bb9b-f35aad505753 #s-Ellipse_70 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-078b09c5-5950-4933-bb9b-f35aad505753 #s-Ellipse_71 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-078b09c5-5950-4933-bb9b-f35aad505753 #s-Ellipse_72 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-078b09c5-5950-4933-bb9b-f35aad505753 #s-Label_451 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-078b09c5-5950-4933-bb9b-f35aad505753 #s-Label_74 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-078b09c5-5950-4933-bb9b-f35aad505753 #s-Button-3_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-078b09c5-5950-4933-bb9b-f35aad505753 #s-Button-1_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-078b09c5-5950-4933-bb9b-f35aad505753 #s-Button-2_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-078b09c5-5950-4933-bb9b-f35aad505753 #s-Button-6_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-078b09c5-5950-4933-bb9b-f35aad505753 #s-Button-4_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-078b09c5-5950-4933-bb9b-f35aad505753 #s-Button-5_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-078b09c5-5950-4933-bb9b-f35aad505753 #s-Button-9_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-078b09c5-5950-4933-bb9b-f35aad505753 #s-Button-7_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-078b09c5-5950-4933-bb9b-f35aad505753 #s-Button-8_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-078b09c5-5950-4933-bb9b-f35aad505753 #s-Button-hash_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-078b09c5-5950-4933-bb9b-f35aad505753 #s-Button-Asterisc_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-078b09c5-5950-4933-bb9b-f35aad505753 #s-Button-0_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-078b09c5-5950-4933-bb9b-f35aad505753 #s-dot-blue_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-078b09c5-5950-4933-bb9b-f35aad505753 #s-dot-blue_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-078b09c5-5950-4933-bb9b-f35aad505753 #s-dot-blue_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-078b09c5-5950-4933-bb9b-f35aad505753 #s-dot-blue_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-078b09c5-5950-4933-bb9b-f35aad505753 #s-Callout_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-078b09c5-5950-4933-bb9b-f35aad505753 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}