#s-078b09c5-5950-4933-bb9b-f35aad505753 #s-Label_91 {
  -ms-transform: rotate(0.0deg);
}
#s-078b09c5-5950-4933-bb9b-f35aad505753 #s-Button-3_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #836D7B;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #836D7B;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #836D7B;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #836D7B;
  -ms-transform: rotate(0.0deg);
}
#s-078b09c5-5950-4933-bb9b-f35aad505753 #s-Button-1_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #836D7B;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #836D7B;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #836D7B;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #836D7B;
  -ms-transform: rotate(0.0deg);
}
#s-078b09c5-5950-4933-bb9b-f35aad505753 #s-Button-2_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #836D7B;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #836D7B;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #836D7B;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #836D7B;
  -ms-transform: rotate(0.0deg);
}
#s-078b09c5-5950-4933-bb9b-f35aad505753 #s-Button-6_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #836D7B;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #836D7B;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #836D7B;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #836D7B;
  -ms-transform: rotate(0.0deg);
}
#s-078b09c5-5950-4933-bb9b-f35aad505753 #s-Button-4_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #836D7B;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #836D7B;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #836D7B;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #836D7B;
  -ms-transform: rotate(0.0deg);
}
#s-078b09c5-5950-4933-bb9b-f35aad505753 #s-Button-5_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #836D7B;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #836D7B;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #836D7B;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #836D7B;
  -ms-transform: rotate(0.0deg);
}
#s-078b09c5-5950-4933-bb9b-f35aad505753 #s-Button-9_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #836D7B;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #836D7B;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #836D7B;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #836D7B;
  -ms-transform: rotate(0.0deg);
}
#s-078b09c5-5950-4933-bb9b-f35aad505753 #s-Button-7_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #836D7B;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #836D7B;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #836D7B;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #836D7B;
  -ms-transform: rotate(0.0deg);
}
#s-078b09c5-5950-4933-bb9b-f35aad505753 #s-Button-8_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #836D7B;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #836D7B;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #836D7B;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #836D7B;
  -ms-transform: rotate(0.0deg);
}
#s-078b09c5-5950-4933-bb9b-f35aad505753 #s-Button-hash_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #836D7B;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #836D7B;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #836D7B;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #836D7B;
  -ms-transform: rotate(0.0deg);
}
#s-078b09c5-5950-4933-bb9b-f35aad505753 #s-Button-Asterisc_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #836D7B;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #836D7B;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #836D7B;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #836D7B;
  -ms-transform: rotate(0.0deg);
}
#s-078b09c5-5950-4933-bb9b-f35aad505753 #s-Button-0_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #836D7B;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #836D7B;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #836D7B;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #836D7B;
  -ms-transform: rotate(0.0deg);
}
#s-078b09c5-5950-4933-bb9b-f35aad505753 #s-dot-blue {
  -ms-transform: rotate(0.0deg);
}
#s-078b09c5-5950-4933-bb9b-f35aad505753 #s-dot-blue_1 {
  -ms-transform: rotate(0.0deg);
}
#s-078b09c5-5950-4933-bb9b-f35aad505753 #s-dot-blue_2 {
  -ms-transform: rotate(0.0deg);
}
#s-078b09c5-5950-4933-bb9b-f35aad505753 #s-dot-blue_3 {
  -ms-transform: rotate(0.0deg);
}
#s-078b09c5-5950-4933-bb9b-f35aad505753 #s-Empty-Screen {
  border-collapse: separate;
}
#s-078b09c5-5950-4933-bb9b-f35aad505753 #s-Label_89 {
  -ms-transform: rotate(0.0deg);
}
#s-078b09c5-5950-4933-bb9b-f35aad505753 #s-Label_425 {
  -ms-transform: rotate(0.0deg);
}
#s-078b09c5-5950-4933-bb9b-f35aad505753 #s-Label_434 {
  -ms-transform: rotate(0.0deg);
}
#s-078b09c5-5950-4933-bb9b-f35aad505753 #s-Label_38 {
  -ms-transform: rotate(0.0deg);
}
#s-078b09c5-5950-4933-bb9b-f35aad505753 #s-Ellipse_14 {
  -ms-transform: rotate(0.0deg);
}
#s-078b09c5-5950-4933-bb9b-f35aad505753 #s-Ellipse_69 {
  -ms-transform: rotate(0.0deg);
}
#s-078b09c5-5950-4933-bb9b-f35aad505753 #s-Ellipse_70 {
  -ms-transform: rotate(0.0deg);
}
#s-078b09c5-5950-4933-bb9b-f35aad505753 #s-Ellipse_71 {
  -ms-transform: rotate(0.0deg);
}
#s-078b09c5-5950-4933-bb9b-f35aad505753 #s-Ellipse_72 {
  -ms-transform: rotate(0.0deg);
}
#s-078b09c5-5950-4933-bb9b-f35aad505753 #s-Label_451 {
  -ms-transform: rotate(0.0deg);
}
#s-078b09c5-5950-4933-bb9b-f35aad505753 #s-Label_74 {
  -ms-transform: rotate(0.0deg);
}
#s-078b09c5-5950-4933-bb9b-f35aad505753 #s-Button-3_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #836D7B;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #836D7B;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #836D7B;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #836D7B;
  -ms-transform: rotate(0.0deg);
}
#s-078b09c5-5950-4933-bb9b-f35aad505753 #s-Button-1_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #836D7B;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #836D7B;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #836D7B;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #836D7B;
  -ms-transform: rotate(0.0deg);
}
#s-078b09c5-5950-4933-bb9b-f35aad505753 #s-Button-2_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #836D7B;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #836D7B;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #836D7B;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #836D7B;
  -ms-transform: rotate(0.0deg);
}
#s-078b09c5-5950-4933-bb9b-f35aad505753 #s-Button-6_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #836D7B;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #836D7B;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #836D7B;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #836D7B;
  -ms-transform: rotate(0.0deg);
}
#s-078b09c5-5950-4933-bb9b-f35aad505753 #s-Button-4_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #836D7B;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #836D7B;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #836D7B;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #836D7B;
  -ms-transform: rotate(0.0deg);
}
#s-078b09c5-5950-4933-bb9b-f35aad505753 #s-Button-5_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #836D7B;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #836D7B;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #836D7B;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #836D7B;
  -ms-transform: rotate(0.0deg);
}
#s-078b09c5-5950-4933-bb9b-f35aad505753 #s-Button-9_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #836D7B;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #836D7B;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #836D7B;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #836D7B;
  -ms-transform: rotate(0.0deg);
}
#s-078b09c5-5950-4933-bb9b-f35aad505753 #s-Button-7_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #836D7B;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #836D7B;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #836D7B;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #836D7B;
  -ms-transform: rotate(0.0deg);
}
#s-078b09c5-5950-4933-bb9b-f35aad505753 #s-Button-8_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #836D7B;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #836D7B;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #836D7B;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #836D7B;
  -ms-transform: rotate(0.0deg);
}
#s-078b09c5-5950-4933-bb9b-f35aad505753 #s-Button-hash_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #836D7B;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #836D7B;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #836D7B;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #836D7B;
  -ms-transform: rotate(0.0deg);
}
#s-078b09c5-5950-4933-bb9b-f35aad505753 #s-Button-Asterisc_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #836D7B;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #836D7B;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #836D7B;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #836D7B;
  -ms-transform: rotate(0.0deg);
}
#s-078b09c5-5950-4933-bb9b-f35aad505753 #s-Button-0_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #836D7B;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #836D7B;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #836D7B;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #836D7B;
  -ms-transform: rotate(0.0deg);
}
#s-078b09c5-5950-4933-bb9b-f35aad505753 #s-dot-blue_4 {
  -ms-transform: rotate(0.0deg);
}
#s-078b09c5-5950-4933-bb9b-f35aad505753 #s-dot-blue_5 {
  -ms-transform: rotate(0.0deg);
}
#s-078b09c5-5950-4933-bb9b-f35aad505753 #s-dot-blue_6 {
  -ms-transform: rotate(0.0deg);
}
#s-078b09c5-5950-4933-bb9b-f35aad505753 #s-dot-blue_7 {
  -ms-transform: rotate(0.0deg);
}
#s-078b09c5-5950-4933-bb9b-f35aad505753 #s-Callout_2 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-078b09c5-5950-4933-bb9b-f35aad505753 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}