#s-1d63eff8-0626-49fd-8201-e0625df30fbd > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Store-screen {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 667px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Cell_top .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Cell_top .verticalalign {
  vertical-align: middle;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Cell_top {
  width: 375px;
  height: 69px;
  background-color: #F6F6F6;
  background-image: none;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Label_89 {
  position: absolute;
  top: 27px;
  left: 107px;
  width: 163px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 13.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Label_89 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Label_89 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 13.0pt;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Label_89 span#rtr-s-Label_89_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 13.0pt;
  line-height: 0px;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Label_741 {
  position: absolute;
  top: 36px;
  left: 332px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Label_741 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Label_741 span {
  color: #157EFB;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Label_741 span#rtr-s-Label_741_0 {
  color: #157EFB;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Group_355 {
  position: absolute;
  top: 30px;
  left: 1px;
  width: 102px;
  height: 30px;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Label_739 {
  position: absolute;
  top: 0px;
  left: 24px;
  width: 78px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Label_739 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Label_739 span {
  color: #007DFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Label_739 span#rtr-s-Label_739_0 {
  color: #007DFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Label_740 {
  position: absolute;
  top: 3px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Label_740 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Label_740 span {
  color: #157EFB;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Label_740 span#rtr-s-Label_740_0 {
  color: #157EFB;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Group_26 {
  position: absolute;
  top: -4px;
  left: 4px;
  width: 365px;
  height: 22px;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Label_425 {
  position: absolute;
  top: 6px;
  left: 37px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Label_425 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Label_425 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 12.0pt;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Label_425 span#rtr-s-Label_425_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Label_434 {
  position: absolute;
  top: 7px;
  left: 295px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Label_434 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Label_434 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 11.0pt;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Label_434 span#rtr-s-Label_434_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Label_38 {
  position: absolute;
  top: 3px;
  left: 145px;
  width: 78px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Label_38 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Label_38 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Label_38 span#rtr-s-Label_38_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Group_37 {
  position: absolute;
  top: 10px;
  left: 0px;
  width: 34px;
  height: 6px;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Ellipse_14 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Ellipse_14 .content {
  width: 6px;
  height: 6px;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Ellipse_14 {
  position: absolute;
  top: 0px;
  left: 21px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #shapewrapper-s-Ellipse_14 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #shapewrapper-s-Ellipse_14 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #shapewrapper-s-Ellipse_14 span#rtr-s-Ellipse_14_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Ellipse_69 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Ellipse_69 .content {
  width: 6px;
  height: 6px;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Ellipse_69 {
  position: absolute;
  top: 0px;
  left: 28px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #shapewrapper-s-Ellipse_69 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #shapewrapper-s-Ellipse_69 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #shapewrapper-s-Ellipse_69 span#rtr-s-Ellipse_69_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Ellipse_70 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Ellipse_70 .content {
  width: 6px;
  height: 6px;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Ellipse_70 {
  position: absolute;
  top: 0px;
  left: 14px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #shapewrapper-s-Ellipse_70 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #shapewrapper-s-Ellipse_70 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #shapewrapper-s-Ellipse_70 span#rtr-s-Ellipse_70_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Ellipse_71 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Ellipse_71 .content {
  width: 6px;
  height: 6px;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Ellipse_71 {
  position: absolute;
  top: 0px;
  left: 7px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #shapewrapper-s-Ellipse_71 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #shapewrapper-s-Ellipse_71 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #shapewrapper-s-Ellipse_71 span#rtr-s-Ellipse_71_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Ellipse_72 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Ellipse_72 .content {
  width: 6px;
  height: 6px;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Ellipse_72 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #shapewrapper-s-Ellipse_72 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #shapewrapper-s-Ellipse_72 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #shapewrapper-s-Ellipse_72 span#rtr-s-Ellipse_72_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Label_451 {
  position: absolute;
  top: 0px;
  left: 338px;
  width: 27px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Label_451 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Label_451 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Label_451 span#rtr-s-Label_451_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Label_74 {
  position: absolute;
  top: 3px;
  left: 298px;
  width: 50px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Label_74 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Label_74 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Label_74 span#rtr-s-Label_74_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Cell_center .layout {
  overflow-x: hidden;
  overflow-y: auto;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Cell_center .verticalalign {
  vertical-align: top;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Cell_center {
  width: 375px;
  height: 598px;
  background-color: #FFFFFF;
  background-image: none;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Group_362 {
  width: 375px;
  height: 88px;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Rich_text_276 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 15px;
  width: 360px;
  height: 88px;
  background-color: #FFFFFF;
  background-image: none;
  opacity: 0.99;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 22px;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Rich_text_276 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Rich_text_276 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Rich_text_276 span#rtr-s-Rich_text_276_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Label_744 {
  position: absolute;
  top: 35px;
  left: 11px;
  width: 18px;
  height: 23px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 13.0pt;
  font-family: Roboto-Light,Arial;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Label_744 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Label_744 span {
  color: #A9A9A9;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 13.0pt;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Label_744 span#rtr-s-Label_744_0 {
  color: #A9A9A9;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 13.0pt;
  line-height: 0px;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Rich_text_277 {
  position: absolute;
  top: 18px;
  left: 109px;
  width: 170px;
  height: 43px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 21px;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Rich_text_277 .valign {
  vertical-align: top;
  text-align: left;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Rich_text_277 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Rich_text_277 span#rtr-s-Rich_text_277_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Rich_text_277 span#rtr-s-Rich_text_277_1 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Rich_text_278 {
  position: absolute;
  top: 57px;
  left: 109px;
  width: 160px;
  height: 21px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Rich_text_278 .valign {
  vertical-align: top;
  text-align: left;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Rich_text_278 span {
  color: #FDCA2E;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 11.0pt;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Rich_text_278 span#rtr-s-Rich_text_278_0 {
  color: #FDCA2E;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Label_760 {
  position: absolute;
  top: 32px;
  left: 302px;
  width: 50px;
  height: 23px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #157EFB;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Label_760 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Label_760 span {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Label_760 span#rtr-s-Label_760_0 {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Image_39 {
  position: absolute;
  top: 12px;
  left: 34px;
  width: 65px;
  height: 66px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Line_141 {
  position: absolute;
  top: 87px;
  left: 17px;
  width: 358px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Group_366 {
  width: 375px;
  height: 87px;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Rich_text_288 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 15px;
  width: 360px;
  height: 87px;
  background-color: #FFFFFF;
  background-image: none;
  opacity: 0.99;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 22px;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Rich_text_288 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Rich_text_288 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Rich_text_288 span#rtr-s-Rich_text_288_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Label_767 {
  position: absolute;
  top: 35px;
  left: 11px;
  width: 18px;
  height: 23px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 13.0pt;
  font-family: Roboto-Light,Arial;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Label_767 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Label_767 span {
  color: #A9A9A9;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 13.0pt;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Label_767 span#rtr-s-Label_767_0 {
  color: #A9A9A9;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 13.0pt;
  line-height: 0px;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Rich_text_289 {
  position: absolute;
  top: 18px;
  left: 109px;
  width: 160px;
  height: 43px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 21px;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Rich_text_289 .valign {
  vertical-align: top;
  text-align: left;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Rich_text_289 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Rich_text_289 span#rtr-s-Rich_text_289_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Rich_text_289 span#rtr-s-Rich_text_289_1 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Rich_text_290 {
  position: absolute;
  top: 56px;
  left: 109px;
  width: 160px;
  height: 21px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Rich_text_290 .valign {
  vertical-align: top;
  text-align: left;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Rich_text_290 span {
  color: #FDCA2E;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 11.0pt;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Rich_text_290 span#rtr-s-Rich_text_290_0 {
  color: #FDCA2E;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Label_768 {
  position: absolute;
  top: 32px;
  left: 302px;
  width: 50px;
  height: 23px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #157EFB;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Label_768 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Label_768 span {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Label_768 span#rtr-s-Label_768_0 {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Image_43 {
  position: absolute;
  top: 12px;
  left: 34px;
  width: 65px;
  height: 65px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Line_145 {
  position: absolute;
  top: 86px;
  left: 17px;
  width: 358px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Group_364 {
  width: 375px;
  height: 85px;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Rich_text_282 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 15px;
  width: 360px;
  height: 85px;
  background-color: #FFFFFF;
  background-image: none;
  opacity: 0.99;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 22px;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Rich_text_282 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Rich_text_282 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Rich_text_282 span#rtr-s-Rich_text_282_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Label_763 {
  position: absolute;
  top: 34px;
  left: 11px;
  width: 18px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 13.0pt;
  font-family: Roboto-Light,Arial;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Label_763 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Label_763 span {
  color: #A9A9A9;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 13.0pt;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Label_763 span#rtr-s-Label_763_0 {
  color: #A9A9A9;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 13.0pt;
  line-height: 0px;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Rich_text_283 {
  position: absolute;
  top: 17px;
  left: 109px;
  width: 160px;
  height: 43px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 21px;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Rich_text_283 .valign {
  vertical-align: top;
  text-align: left;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Rich_text_283 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Rich_text_283 span#rtr-s-Rich_text_283_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Rich_text_283 span#rtr-s-Rich_text_283_1 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Rich_text_284 {
  position: absolute;
  top: 55px;
  left: 109px;
  width: 160px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Rich_text_284 .valign {
  vertical-align: top;
  text-align: left;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Rich_text_284 span {
  color: #FDCA2E;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 11.0pt;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Rich_text_284 span#rtr-s-Rich_text_284_0 {
  color: #FDCA2E;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Label_764 {
  position: absolute;
  top: 32px;
  left: 302px;
  width: 50px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #157EFB;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Label_764 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Label_764 span {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Label_764 span#rtr-s-Label_764_0 {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Image_41 {
  position: absolute;
  top: 12px;
  left: 34px;
  width: 65px;
  height: 63px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Line_143 {
  position: absolute;
  top: 84px;
  left: 17px;
  width: 358px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Group_363 {
  width: 375px;
  height: 87px;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Rich_text_279 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 15px;
  width: 360px;
  height: 87px;
  background-color: #FFFFFF;
  background-image: none;
  opacity: 0.99;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 22px;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Rich_text_279 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Rich_text_279 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Rich_text_279 span#rtr-s-Rich_text_279_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Label_761 {
  position: absolute;
  top: 35px;
  left: 11px;
  width: 18px;
  height: 23px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 13.0pt;
  font-family: Roboto-Light,Arial;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Label_761 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Label_761 span {
  color: #A9A9A9;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 13.0pt;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Label_761 span#rtr-s-Label_761_0 {
  color: #A9A9A9;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 13.0pt;
  line-height: 0px;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Rich_text_280 {
  position: absolute;
  top: 18px;
  left: 109px;
  width: 160px;
  height: 43px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 21px;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Rich_text_280 .valign {
  vertical-align: top;
  text-align: left;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Rich_text_280 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Rich_text_280 span#rtr-s-Rich_text_280_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Rich_text_280 span#rtr-s-Rich_text_280_1 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Rich_text_281 {
  position: absolute;
  top: 56px;
  left: 109px;
  width: 160px;
  height: 21px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Rich_text_281 .valign {
  vertical-align: top;
  text-align: left;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Rich_text_281 span {
  color: #FDCA2E;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 11.0pt;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Rich_text_281 span#rtr-s-Rich_text_281_0 {
  color: #FDCA2E;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Label_762 {
  position: absolute;
  top: 32px;
  left: 302px;
  width: 50px;
  height: 23px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #157EFB;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Label_762 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Label_762 span {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Label_762 span#rtr-s-Label_762_0 {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Image_40 {
  position: absolute;
  top: 12px;
  left: 34px;
  width: 65px;
  height: 65px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Line_142 {
  position: absolute;
  top: 86px;
  left: 17px;
  width: 358px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Group_365 {
  width: 375px;
  height: 87px;
  display: none;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Rich_text_285 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 15px;
  width: 360px;
  height: 87px;
  background-color: #FFFFFF;
  background-image: none;
  opacity: 0.99;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 22px;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Rich_text_285 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Rich_text_285 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Rich_text_285 span#rtr-s-Rich_text_285_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Label_765 {
  position: absolute;
  top: 35px;
  left: 11px;
  width: 18px;
  height: 23px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 13.0pt;
  font-family: Roboto-Light,Arial;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Label_765 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Label_765 span {
  color: #A9A9A9;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 13.0pt;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Label_765 span#rtr-s-Label_765_0 {
  color: #A9A9A9;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 13.0pt;
  line-height: 0px;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Rich_text_286 {
  position: absolute;
  top: 18px;
  left: 109px;
  width: 160px;
  height: 43px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 21px;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Rich_text_286 .valign {
  vertical-align: top;
  text-align: left;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Rich_text_286 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Rich_text_286 span#rtr-s-Rich_text_286_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Rich_text_286 span#rtr-s-Rich_text_286_1 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Rich_text_287 {
  position: absolute;
  top: 56px;
  left: 109px;
  width: 160px;
  height: 21px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Rich_text_287 .valign {
  vertical-align: top;
  text-align: left;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Rich_text_287 span {
  color: #FDCA2E;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 11.0pt;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Rich_text_287 span#rtr-s-Rich_text_287_0 {
  color: #FDCA2E;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Label_766 {
  position: absolute;
  top: 32px;
  left: 302px;
  width: 50px;
  height: 23px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #157EFB;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Label_766 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Label_766 span {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Label_766 span#rtr-s-Label_766_0 {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Image_42 {
  position: absolute;
  top: 12px;
  left: 34px;
  width: 65px;
  height: 65px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Line_144 {
  position: absolute;
  top: 86px;
  left: 17px;
  width: 358px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #shapewrapper-s-Callout_2 {
  display: none;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Callout_2 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 176px;
  height: 92px;
  position: absolute;
  overflow: hidden;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Callout_2 .content {
  width: 176px;
  height: 92px;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Callout_2 {
  position: absolute;
  top: 82px;
  left: -208px;
  width: 193px;
  height: 92px;
  background-color: #21C0C0;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 19px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #shapewrapper-s-Callout_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #shapewrapper-s-Callout_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #shapewrapper-s-Callout_2 span#rtr-s-Callout_2_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}