#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Store-screen {
  border-collapse: separate;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Label_89 {
  -ms-transform: rotate(0.0deg);
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Label_741 {
  -ms-transform: rotate(0.0deg);
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Label_739 {
  -ms-transform: rotate(0.0deg);
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Label_740 {
  -ms-transform: rotate(0.0deg);
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Label_425 {
  -ms-transform: rotate(0.0deg);
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Label_434 {
  -ms-transform: rotate(0.0deg);
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Label_38 {
  -ms-transform: rotate(0.0deg);
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Ellipse_14 {
  -ms-transform: rotate(0.0deg);
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Ellipse_69 {
  -ms-transform: rotate(0.0deg);
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Ellipse_70 {
  -ms-transform: rotate(0.0deg);
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Ellipse_71 {
  -ms-transform: rotate(0.0deg);
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Ellipse_72 {
  -ms-transform: rotate(0.0deg);
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Label_451 {
  -ms-transform: rotate(0.0deg);
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Label_74 {
  -ms-transform: rotate(0.0deg);
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Cell_center > .valign {
  vertical-align: top;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Rich_text_276 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Label_744 {
  -ms-transform: rotate(0.0deg);
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Rich_text_277 {
  -ms-transform: rotate(0.0deg);
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Rich_text_278 {
  -ms-transform: rotate(0.0deg);
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Label_760 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #157EFB;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 50px;
  height: 23px;
  -ms-transform: rotate(0.0deg);
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Image_39 {
  -ms-transform: rotate(0.0deg);
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Line_141 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Line_141 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Rich_text_288 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Label_767 {
  -ms-transform: rotate(0.0deg);
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Rich_text_289 {
  -ms-transform: rotate(0.0deg);
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Rich_text_290 {
  -ms-transform: rotate(0.0deg);
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Label_768 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #157EFB;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 50px;
  height: 23px;
  -ms-transform: rotate(0.0deg);
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Image_43 {
  -ms-transform: rotate(0.0deg);
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Line_145 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Line_145 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Rich_text_282 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Label_763 {
  -ms-transform: rotate(0.0deg);
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Rich_text_283 {
  -ms-transform: rotate(0.0deg);
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Rich_text_284 {
  -ms-transform: rotate(0.0deg);
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Label_764 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #157EFB;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 50px;
  height: 22px;
  -ms-transform: rotate(0.0deg);
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Image_41 {
  -ms-transform: rotate(0.0deg);
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Line_143 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Line_143 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Rich_text_279 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Label_761 {
  -ms-transform: rotate(0.0deg);
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Rich_text_280 {
  -ms-transform: rotate(0.0deg);
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Rich_text_281 {
  -ms-transform: rotate(0.0deg);
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Label_762 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #157EFB;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 50px;
  height: 23px;
  -ms-transform: rotate(0.0deg);
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Image_40 {
  -ms-transform: rotate(0.0deg);
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Line_142 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Line_142 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Rich_text_285 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Label_765 {
  -ms-transform: rotate(0.0deg);
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Rich_text_286 {
  -ms-transform: rotate(0.0deg);
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Rich_text_287 {
  -ms-transform: rotate(0.0deg);
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Label_766 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #157EFB;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 50px;
  height: 23px;
  -ms-transform: rotate(0.0deg);
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Image_42 {
  -ms-transform: rotate(0.0deg);
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Line_144 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Line_144 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd #s-Callout_2 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-1d63eff8-0626-49fd-8201-e0625df30fbd > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}