#s-5d3ed7cf-0b17-4d04-b6a8-9d25600e33d4 #s-Label_89 {
  -ms-transform: rotate(0.0deg);
}
#s-5d3ed7cf-0b17-4d04-b6a8-9d25600e33d4 #s-Label_739 {
  -ms-transform: rotate(0.0deg);
}
#s-5d3ed7cf-0b17-4d04-b6a8-9d25600e33d4 #s-Label_740 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-5d3ed7cf-0b17-4d04-b6a8-9d25600e33d4 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}