#s-7390f593-34df-4de5-88ef-d36a2b38d551 #s-Label_425 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7390f593-34df-4de5-88ef-d36a2b38d551 #s-Label_434 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7390f593-34df-4de5-88ef-d36a2b38d551 #s-Label_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7390f593-34df-4de5-88ef-d36a2b38d551 #s-Ellipse_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7390f593-34df-4de5-88ef-d36a2b38d551 #s-Ellipse_69 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7390f593-34df-4de5-88ef-d36a2b38d551 #s-Ellipse_70 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7390f593-34df-4de5-88ef-d36a2b38d551 #s-Ellipse_71 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7390f593-34df-4de5-88ef-d36a2b38d551 #s-Ellipse_72 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7390f593-34df-4de5-88ef-d36a2b38d551 #s-Label_451 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7390f593-34df-4de5-88ef-d36a2b38d551 #s-Label_74 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7390f593-34df-4de5-88ef-d36a2b38d551 #s-Label_739 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7390f593-34df-4de5-88ef-d36a2b38d551 #s-Label_740 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7390f593-34df-4de5-88ef-d36a2b38d551 #s-Label_565 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7390f593-34df-4de5-88ef-d36a2b38d551 #s-Image_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7390f593-34df-4de5-88ef-d36a2b38d551 #s-Ellipse_255 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  filter: alpha(opacity=30);
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7390f593-34df-4de5-88ef-d36a2b38d551 #s-Ellipse_256 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7390f593-34df-4de5-88ef-d36a2b38d551 #s-Rich_text_219 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7390f593-34df-4de5-88ef-d36a2b38d551 #s-Rich_text_220 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7390f593-34df-4de5-88ef-d36a2b38d551 #s-Triangle_14 {
  rotation: 180.0;
  margin-left: 0px;
  margin-top: -1px;
}
#s-7390f593-34df-4de5-88ef-d36a2b38d551 #s-Label_574 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7390f593-34df-4de5-88ef-d36a2b38d551 #s-Image_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7390f593-34df-4de5-88ef-d36a2b38d551 #s-Rich_text_221 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7390f593-34df-4de5-88ef-d36a2b38d551 #s-Rich_text_222 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7390f593-34df-4de5-88ef-d36a2b38d551 #s-Triangle_15 {
  rotation: 180.0;
  margin-left: 0px;
  margin-top: -1px;
}
#s-7390f593-34df-4de5-88ef-d36a2b38d551 #s-Image_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7390f593-34df-4de5-88ef-d36a2b38d551 #s-Label_258 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7390f593-34df-4de5-88ef-d36a2b38d551 #s-Label_572 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7390f593-34df-4de5-88ef-d36a2b38d551 #s-Label_573 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-7390f593-34df-4de5-88ef-d36a2b38d551 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}