#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Background {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Passcode-Text {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Dot-1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Dot-2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Dot-3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Dot-4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Button-3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Button-2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Button-1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Button-6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Button-4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Button-5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Button-9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Button-7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Button-8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Button-0 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Button-Emergency {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Button-Cancel {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Label_58 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Label_59 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Label_95 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Ellipse_61 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Ellipse_62 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Ellipse_63 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Ellipse_64 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Ellipse_65 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Label_97 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Label_120 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Callout_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-dot-blue_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-dot-blue_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-dot-blue_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-dot-blue_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}