#s-77cc334f-6602-42c7-9107-7730ca86a0a3 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Passcode-Screen {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 668px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Background {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 668px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Passcode-Text {
  position: absolute;
  top: 89px;
  left: 0px;
  width: 375px;
  height: 35px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: Roboto-Light,Arial;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Passcode-Text .valign {
  vertical-align: middle;
  text-align: center;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Passcode-Text span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 16.0pt;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Passcode-Text span#rtr-s-Passcode-Text_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Passcode {
  position: absolute;
  top: 139px;
  left: 122px;
  width: 130px;
  height: 15px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Dot-1 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 15px;
  height: 15px;
  position: absolute;
  overflow: hidden;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Dot-1 .content {
  width: 15px;
  height: 15px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Dot-1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 15px;
  height: 15px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  opacity: 0.5;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 15px;
  font-size: 26.0pt;
  font-family: Roboto-Light,Arial;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #shapewrapper-s-Dot-1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #shapewrapper-s-Dot-1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 26.0pt;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #shapewrapper-s-Dot-1 span#rtr-s-Dot-1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 26.0pt;
  line-height: 0px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Dot-2 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 15px;
  height: 15px;
  position: absolute;
  overflow: hidden;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Dot-2 .content {
  width: 15px;
  height: 15px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Dot-2 {
  position: absolute;
  top: 0px;
  left: 40px;
  width: 15px;
  height: 15px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  opacity: 0.5;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 15px;
  font-size: 26.0pt;
  font-family: Roboto-Light,Arial;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #shapewrapper-s-Dot-2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #shapewrapper-s-Dot-2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 26.0pt;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #shapewrapper-s-Dot-2 span#rtr-s-Dot-2_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 26.0pt;
  line-height: 0px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Dot-3 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 15px;
  height: 15px;
  position: absolute;
  overflow: hidden;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Dot-3 .content {
  width: 15px;
  height: 15px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Dot-3 {
  position: absolute;
  top: 0px;
  left: 76px;
  width: 15px;
  height: 15px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  opacity: 0.5;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 15px;
  font-size: 26.0pt;
  font-family: Roboto-Light,Arial;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #shapewrapper-s-Dot-3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #shapewrapper-s-Dot-3 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 26.0pt;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #shapewrapper-s-Dot-3 span#rtr-s-Dot-3_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 26.0pt;
  line-height: 0px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Dot-4 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 15px;
  height: 15px;
  position: absolute;
  overflow: hidden;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Dot-4 .content {
  width: 15px;
  height: 15px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Dot-4 {
  position: absolute;
  top: 0px;
  left: 115px;
  width: 15px;
  height: 15px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  opacity: 0.5;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 15px;
  font-size: 26.0pt;
  font-family: Roboto-Light,Arial;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #shapewrapper-s-Dot-4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #shapewrapper-s-Dot-4 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 26.0pt;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #shapewrapper-s-Dot-4 span#rtr-s-Dot-4_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 26.0pt;
  line-height: 0px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Button-3 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 78px;
  height: 78px;
  position: absolute;
  overflow: hidden;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Button-3 .content {
  width: 78px;
  height: 78px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Button-3 {
  position: absolute;
  top: 203px;
  left: 247px;
  width: 78px;
  height: 78px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #21C0C0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #21C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #21C0C0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #21C0C0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 15px;
  font-size: 26.0pt;
  font-family: Roboto-Light,Arial;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #shapewrapper-s-Button-3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #shapewrapper-s-Button-3 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 26.0pt;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #shapewrapper-s-Button-3 span#rtr-s-Button-3_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 26.0pt;
  line-height: 0px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #shapewrapper-s-Button-3 span#rtr-s-Button-3_1 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #shapewrapper-s-Button-3 span#rtr-s-Button-3_2 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Button-2 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 78px;
  height: 78px;
  position: absolute;
  overflow: hidden;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Button-2 .content {
  width: 78px;
  height: 78px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Button-2 {
  position: absolute;
  top: 203px;
  left: 148px;
  width: 78px;
  height: 78px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #21C0C0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #21C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #21C0C0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #21C0C0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 15px;
  font-size: 26.0pt;
  font-family: Roboto-Light,Arial;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #shapewrapper-s-Button-2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #shapewrapper-s-Button-2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 26.0pt;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #shapewrapper-s-Button-2 span#rtr-s-Button-2_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 26.0pt;
  line-height: 0px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #shapewrapper-s-Button-2 span#rtr-s-Button-2_1 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #shapewrapper-s-Button-2 span#rtr-s-Button-2_2 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Button-1 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 78px;
  height: 78px;
  position: absolute;
  overflow: hidden;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Button-1 .content {
  width: 78px;
  height: 78px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Button-1 {
  position: absolute;
  top: 203px;
  left: 48px;
  width: 78px;
  height: 78px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #21C0C0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #21C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #21C0C0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #21C0C0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 15px;
  font-size: 26.0pt;
  font-family: Roboto-Light,Arial;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #shapewrapper-s-Button-1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #shapewrapper-s-Button-1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 26.0pt;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #shapewrapper-s-Button-1 span#rtr-s-Button-1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 26.0pt;
  line-height: 0px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #shapewrapper-s-Button-1 span#rtr-s-Button-1_1 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Button-6 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 78px;
  height: 78px;
  position: absolute;
  overflow: hidden;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Button-6 .content {
  width: 78px;
  height: 78px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Button-6 {
  position: absolute;
  top: 294px;
  left: 247px;
  width: 78px;
  height: 78px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #21C0C0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #21C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #21C0C0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #21C0C0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 15px;
  font-size: 26.0pt;
  font-family: Roboto-Light,Arial;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #shapewrapper-s-Button-6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #shapewrapper-s-Button-6 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 26.0pt;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #shapewrapper-s-Button-6 span#rtr-s-Button-6_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 26.0pt;
  line-height: 0px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #shapewrapper-s-Button-6 span#rtr-s-Button-6_1 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #shapewrapper-s-Button-6 span#rtr-s-Button-6_2 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Button-4 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 78px;
  height: 78px;
  position: absolute;
  overflow: hidden;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Button-4 .content {
  width: 78px;
  height: 78px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Button-4 {
  position: absolute;
  top: 294px;
  left: 48px;
  width: 78px;
  height: 78px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #21C0C0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #21C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #21C0C0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #21C0C0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 15px;
  font-size: 26.0pt;
  font-family: Roboto-Light,Arial;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #shapewrapper-s-Button-4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #shapewrapper-s-Button-4 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 26.0pt;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #shapewrapper-s-Button-4 span#rtr-s-Button-4_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 26.0pt;
  line-height: 0px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #shapewrapper-s-Button-4 span#rtr-s-Button-4_1 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #shapewrapper-s-Button-4 span#rtr-s-Button-4_2 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Button-5 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 78px;
  height: 78px;
  position: absolute;
  overflow: hidden;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Button-5 .content {
  width: 78px;
  height: 78px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Button-5 {
  position: absolute;
  top: 294px;
  left: 148px;
  width: 78px;
  height: 78px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #21C0C0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #21C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #21C0C0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #21C0C0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 15px;
  font-size: 26.0pt;
  font-family: Roboto-Light,Arial;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #shapewrapper-s-Button-5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #shapewrapper-s-Button-5 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 26.0pt;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #shapewrapper-s-Button-5 span#rtr-s-Button-5_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 26.0pt;
  line-height: 0px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #shapewrapper-s-Button-5 span#rtr-s-Button-5_1 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #shapewrapper-s-Button-5 span#rtr-s-Button-5_2 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Button-9 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 78px;
  height: 78px;
  position: absolute;
  overflow: hidden;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Button-9 .content {
  width: 78px;
  height: 78px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Button-9 {
  position: absolute;
  top: 386px;
  left: 247px;
  width: 78px;
  height: 78px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #21C0C0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #21C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #21C0C0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #21C0C0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 15px;
  font-size: 26.0pt;
  font-family: Roboto-Light,Arial;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #shapewrapper-s-Button-9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #shapewrapper-s-Button-9 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 26.0pt;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #shapewrapper-s-Button-9 span#rtr-s-Button-9_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 26.0pt;
  line-height: 0px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #shapewrapper-s-Button-9 span#rtr-s-Button-9_1 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #shapewrapper-s-Button-9 span#rtr-s-Button-9_2 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Button-7 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 78px;
  height: 78px;
  position: absolute;
  overflow: hidden;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Button-7 .content {
  width: 78px;
  height: 78px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Button-7 {
  position: absolute;
  top: 386px;
  left: 48px;
  width: 78px;
  height: 78px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #21C0C0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #21C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #21C0C0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #21C0C0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 15px;
  font-size: 26.0pt;
  font-family: Roboto-Light,Arial;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #shapewrapper-s-Button-7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #shapewrapper-s-Button-7 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 26.0pt;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #shapewrapper-s-Button-7 span#rtr-s-Button-7_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 26.0pt;
  line-height: 0px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #shapewrapper-s-Button-7 span#rtr-s-Button-7_1 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #shapewrapper-s-Button-7 span#rtr-s-Button-7_2 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Button-8 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 78px;
  height: 78px;
  position: absolute;
  overflow: hidden;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Button-8 .content {
  width: 78px;
  height: 78px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Button-8 {
  position: absolute;
  top: 386px;
  left: 148px;
  width: 78px;
  height: 78px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #21C0C0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #21C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #21C0C0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #21C0C0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 15px;
  font-size: 26.0pt;
  font-family: Roboto-Light,Arial;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #shapewrapper-s-Button-8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #shapewrapper-s-Button-8 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 26.0pt;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #shapewrapper-s-Button-8 span#rtr-s-Button-8_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 26.0pt;
  line-height: 0px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #shapewrapper-s-Button-8 span#rtr-s-Button-8_1 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #shapewrapper-s-Button-8 span#rtr-s-Button-8_2 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Button-0 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 78px;
  height: 78px;
  position: absolute;
  overflow: hidden;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Button-0 .content {
  width: 78px;
  height: 78px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Button-0 {
  position: absolute;
  top: 481px;
  left: 148px;
  width: 78px;
  height: 78px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #21C0C0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #21C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #21C0C0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #21C0C0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 15px;
  font-size: 26.0pt;
  font-family: Roboto-Light,Arial;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #shapewrapper-s-Button-0 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #shapewrapper-s-Button-0 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 26.0pt;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #shapewrapper-s-Button-0 span#rtr-s-Button-0_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 26.0pt;
  line-height: 0px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #shapewrapper-s-Button-0 span#rtr-s-Button-0_1 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #shapewrapper-s-Button-0 span#rtr-s-Button-0_2 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Button-Emergency {
  position: absolute;
  top: 612px;
  left: 44px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Button-Emergency .valign {
  vertical-align: middle;
  text-align: center;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Button-Emergency span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Button-Emergency span#rtr-s-Button-Emergency_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Button-Cancel {
  position: absolute;
  top: 612px;
  left: 265px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Button-Cancel .valign {
  vertical-align: middle;
  text-align: center;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Button-Cancel span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Button-Cancel span#rtr-s-Button-Cancel_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Status-Bar {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 20px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Rectangle_14 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Rectangle_14 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Rectangle_14 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Rectangle_14 span#rtr-s-Rectangle_14_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Label_58 {
  position: absolute;
  top: 3px;
  left: 41px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Label_58 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Label_58 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 12.0pt;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Label_58 span#rtr-s-Label_58_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Label_59 {
  position: absolute;
  top: 4px;
  left: 300px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Label_59 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Label_59 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 11.0pt;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Label_59 span#rtr-s-Label_59_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Label_95 {
  position: absolute;
  top: 0px;
  left: 149px;
  width: 78px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Label_95 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Label_95 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Label_95 span#rtr-s-Label_95_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Group_30 {
  position: absolute;
  top: 7px;
  left: 4px;
  width: 34px;
  height: 6px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Ellipse_61 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Ellipse_61 .content {
  width: 6px;
  height: 6px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Ellipse_61 {
  position: absolute;
  top: 0px;
  left: 21px;
  width: 6px;
  height: 6px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #shapewrapper-s-Ellipse_61 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #shapewrapper-s-Ellipse_61 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #shapewrapper-s-Ellipse_61 span#rtr-s-Ellipse_61_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Ellipse_62 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Ellipse_62 .content {
  width: 6px;
  height: 6px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Ellipse_62 {
  position: absolute;
  top: 0px;
  left: 28px;
  width: 6px;
  height: 6px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #shapewrapper-s-Ellipse_62 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #shapewrapper-s-Ellipse_62 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #shapewrapper-s-Ellipse_62 span#rtr-s-Ellipse_62_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Ellipse_63 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Ellipse_63 .content {
  width: 6px;
  height: 6px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Ellipse_63 {
  position: absolute;
  top: 0px;
  left: 14px;
  width: 6px;
  height: 6px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #shapewrapper-s-Ellipse_63 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #shapewrapper-s-Ellipse_63 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #shapewrapper-s-Ellipse_63 span#rtr-s-Ellipse_63_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Ellipse_64 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Ellipse_64 .content {
  width: 6px;
  height: 6px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Ellipse_64 {
  position: absolute;
  top: 0px;
  left: 7px;
  width: 6px;
  height: 6px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #shapewrapper-s-Ellipse_64 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #shapewrapper-s-Ellipse_64 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #shapewrapper-s-Ellipse_64 span#rtr-s-Ellipse_64_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Ellipse_65 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Ellipse_65 .content {
  width: 6px;
  height: 6px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Ellipse_65 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 6px;
  height: 6px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #shapewrapper-s-Ellipse_65 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #shapewrapper-s-Ellipse_65 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #shapewrapper-s-Ellipse_65 span#rtr-s-Ellipse_65_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Label_97 {
  position: absolute;
  top: 1px;
  left: 303px;
  width: 50px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Label_97 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Label_97 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Label_97 span#rtr-s-Label_97_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Image_13 {
  position: absolute;
  top: 5px;
  left: 343px;
  width: 25px;
  height: 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Label_120 {
  position: absolute;
  top: 608px;
  left: 175px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Label_120 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Label_120 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Label_120 span#rtr-s-Label_120_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #shapewrapper-s-Callout_2 {
  display: none;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Callout_2 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 176px;
  height: 92px;
  position: absolute;
  overflow: hidden;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Callout_2 .content {
  width: 176px;
  height: 92px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Callout_2 {
  position: absolute;
  top: 106px;
  left: -209px;
  width: 193px;
  height: 92px;
  background-color: #21C0C0;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 19px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #shapewrapper-s-Callout_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #shapewrapper-s-Callout_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #shapewrapper-s-Callout_2 span#rtr-s-Callout_2_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #shapewrapper-s-dot-blue_4 {
  display: none;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-dot-blue_4 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 14px;
  height: 14px;
  position: absolute;
  overflow: hidden;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-dot-blue_4 .content {
  width: 14px;
  height: 14px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-dot-blue_4 {
  position: absolute;
  top: 140px;
  left: 123px;
  width: 14px;
  height: 14px;
  background-color: #157EFB;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #shapewrapper-s-dot-blue_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #shapewrapper-s-dot-blue_4 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #shapewrapper-s-dot-blue_4 span#rtr-s-dot-blue_4_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #shapewrapper-s-dot-blue_5 {
  display: none;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-dot-blue_5 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 14px;
  height: 14px;
  position: absolute;
  overflow: hidden;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-dot-blue_5 .content {
  width: 14px;
  height: 14px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-dot-blue_5 {
  position: absolute;
  top: 140px;
  left: 163px;
  width: 14px;
  height: 14px;
  background-color: #157EFB;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #shapewrapper-s-dot-blue_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #shapewrapper-s-dot-blue_5 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #shapewrapper-s-dot-blue_5 span#rtr-s-dot-blue_5_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #shapewrapper-s-dot-blue_6 {
  display: none;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-dot-blue_6 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 14px;
  height: 14px;
  position: absolute;
  overflow: hidden;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-dot-blue_6 .content {
  width: 14px;
  height: 14px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-dot-blue_6 {
  position: absolute;
  top: 140px;
  left: 199px;
  width: 14px;
  height: 14px;
  background-color: #157EFB;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #shapewrapper-s-dot-blue_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #shapewrapper-s-dot-blue_6 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #shapewrapper-s-dot-blue_6 span#rtr-s-dot-blue_6_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #shapewrapper-s-dot-blue_7 {
  display: none;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-dot-blue_7 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 14px;
  height: 14px;
  position: absolute;
  overflow: hidden;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-dot-blue_7 .content {
  width: 14px;
  height: 14px;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-dot-blue_7 {
  position: absolute;
  top: 140px;
  left: 238px;
  width: 14px;
  height: 14px;
  background-color: #157EFB;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #shapewrapper-s-dot-blue_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #shapewrapper-s-dot-blue_7 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #shapewrapper-s-dot-blue_7 span#rtr-s-dot-blue_7_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}