#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Background {
  -ms-transform: rotate(0.0deg);
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Passcode-Text {
  -ms-transform: rotate(0.0deg);
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Dot-1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  -ms-transform: rotate(0.0deg);
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Dot-2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  -ms-transform: rotate(0.0deg);
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Dot-3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  -ms-transform: rotate(0.0deg);
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Dot-4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  -ms-transform: rotate(0.0deg);
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Button-3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #21C0C0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #21C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #21C0C0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #21C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Button-2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #21C0C0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #21C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #21C0C0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #21C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Button-1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #21C0C0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #21C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #21C0C0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #21C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Button-6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #21C0C0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #21C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #21C0C0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #21C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Button-4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #21C0C0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #21C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #21C0C0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #21C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Button-5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #21C0C0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #21C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #21C0C0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #21C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Button-9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #21C0C0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #21C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #21C0C0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #21C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Button-7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #21C0C0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #21C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #21C0C0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #21C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Button-8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #21C0C0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #21C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #21C0C0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #21C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Button-0 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #21C0C0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #21C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #21C0C0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #21C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Button-Emergency {
  -ms-transform: rotate(0.0deg);
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Button-Cancel {
  -ms-transform: rotate(0.0deg);
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Rectangle_14 {
  -ms-transform: rotate(0.0deg);
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Label_58 {
  -ms-transform: rotate(0.0deg);
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Label_59 {
  -ms-transform: rotate(0.0deg);
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Label_95 {
  -ms-transform: rotate(0.0deg);
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Ellipse_61 {
  -ms-transform: rotate(0.0deg);
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Ellipse_62 {
  -ms-transform: rotate(0.0deg);
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Ellipse_63 {
  -ms-transform: rotate(0.0deg);
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Ellipse_64 {
  -ms-transform: rotate(0.0deg);
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Ellipse_65 {
  -ms-transform: rotate(0.0deg);
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Label_97 {
  -ms-transform: rotate(0.0deg);
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Image_13 {
  -ms-transform: rotate(0.0deg);
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Label_120 {
  -ms-transform: rotate(0.0deg);
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-Callout_2 {
  -ms-transform: rotate(0.0deg);
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-dot-blue_4 {
  -ms-transform: rotate(0.0deg);
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-dot-blue_5 {
  -ms-transform: rotate(0.0deg);
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-dot-blue_6 {
  -ms-transform: rotate(0.0deg);
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 #s-dot-blue_7 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-77cc334f-6602-42c7-9107-7730ca86a0a3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}