#s-903e64a2-9f1b-4311-a73c-9d925209e1d0 #s-Background {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-903e64a2-9f1b-4311-a73c-9d925209e1d0 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-903e64a2-9f1b-4311-a73c-9d925209e1d0 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-903e64a2-9f1b-4311-a73c-9d925209e1d0 #s-Rectangle_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-903e64a2-9f1b-4311-a73c-9d925209e1d0 #s-Label_66 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-903e64a2-9f1b-4311-a73c-9d925209e1d0 #s-Label_67 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-903e64a2-9f1b-4311-a73c-9d925209e1d0 #s-Ellipse_81 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-903e64a2-9f1b-4311-a73c-9d925209e1d0 #s-Ellipse_82 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-903e64a2-9f1b-4311-a73c-9d925209e1d0 #s-Ellipse_83 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-903e64a2-9f1b-4311-a73c-9d925209e1d0 #s-Ellipse_84 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-903e64a2-9f1b-4311-a73c-9d925209e1d0 #s-Ellipse_85 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-903e64a2-9f1b-4311-a73c-9d925209e1d0 #s-Label_103 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-903e64a2-9f1b-4311-a73c-9d925209e1d0 #s-Image_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-903e64a2-9f1b-4311-a73c-9d925209e1d0 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}