#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Rich_text_13 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95) ;
  filter: alpha(opacity=95) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Label_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Fingerprint_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Label_76 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Label_85 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Label_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Line_17 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Label_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Radio-button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Radio-button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-ok-blue {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-ok-blue_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-ok-blue_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Background {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Header-base {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Footer-base {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Reverse-camera-icon {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Flash-icon {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Label-Off {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Ellipse_272 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
  filter: alpha(opacity=98);
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Ellipse_273 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Ellipse {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-timelapse-label {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Slomo-label {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Photo-label {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Video-label {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Square-label {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-AE-AF-Lock {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Rich_text_11 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95) ;
  filter: alpha(opacity=95) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Label_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Label_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Focus_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 #s-Focus_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-95adc887-3e85-4566-95d6-d7b6077c8c85 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}