#s-a8817caf-c32a-4e45-8664-5653ce92f591 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-a8817caf-c32a-4e45-8664-5653ce92f591 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-a8817caf-c32a-4e45-8664-5653ce92f591 #s-Browser_1 {
  position: absolute;
  top: 260px;
  left: 0px;
  width: 376px;
  height: 240px;
  box-shadow: none;
  display: none;
}
#s-a8817caf-c32a-4e45-8664-5653ce92f591 #s-Imessage2 {
  position: absolute;
  top: 534px;
  left: 61px;
  width: 304px;
  height: 73px;
  display: none;
}
#s-a8817caf-c32a-4e45-8664-5653ce92f591 #s-Rich_text_23 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-right: 20px;
  padding-left: 20px;
  width: 258px;
  height: 41px;
  background-color: #157EFB;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 25px 25px 25px 25px;
  padding-top: 13px;
  padding-bottom: 13px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 21px;
  font-size: 11.0pt;
  font-family: Roboto-Light,Arial;
}
#s-a8817caf-c32a-4e45-8664-5653ce92f591 #s-Rich_text_23 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-a8817caf-c32a-4e45-8664-5653ce92f591 #s-Rich_text_23 span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
}
#s-a8817caf-c32a-4e45-8664-5653ce92f591 #s-Rich_text_23 span#rtr-s-Rich_text_23_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-a8817caf-c32a-4e45-8664-5653ce92f591 #s-Image_85 {
  position: absolute;
  top: 48px;
  left: 289px;
  width: 15px;
  height: 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-a8817caf-c32a-4e45-8664-5653ce92f591 #s-Imessage1 {
  position: absolute;
  top: 615px;
  left: 17px;
  width: 271px;
  height: 31px;
  display: none;
}
#s-a8817caf-c32a-4e45-8664-5653ce92f591 #s-Rich_text_3 {
  position: absolute;
  top: 0px;
  left: 6px;
  padding-right: 13px;
  padding-left: 13px;
  width: 239px;
  height: 18px;
  background-color: #E5E5EA;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 11px 11px 11px 11px;
  padding-top: 6px;
  padding-bottom: 6px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 21px;
  font-size: 11.0pt;
  font-family: Roboto-Light,Arial;
}
#s-a8817caf-c32a-4e45-8664-5653ce92f591 #s-Rich_text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a8817caf-c32a-4e45-8664-5653ce92f591 #s-Rich_text_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
}
#s-a8817caf-c32a-4e45-8664-5653ce92f591 #s-Rich_text_3 span#rtr-s-Rich_text_3_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-a8817caf-c32a-4e45-8664-5653ce92f591 #s-Image_51 {
  position: absolute;
  top: 20px;
  left: 0px;
  width: 13px;
  height: 11px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-a8817caf-c32a-4e45-8664-5653ce92f591 #s-Label_89 {
  position: absolute;
  top: 27px;
  left: 107px;
  width: 163px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 13.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-a8817caf-c32a-4e45-8664-5653ce92f591 #s-Label_89 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a8817caf-c32a-4e45-8664-5653ce92f591 #s-Label_89 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 13.0pt;
}
#s-a8817caf-c32a-4e45-8664-5653ce92f591 #s-Label_89 span#rtr-s-Label_89_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 13.0pt;
  line-height: 0px;
}
#s-a8817caf-c32a-4e45-8664-5653ce92f591 #s-Group_355 {
  position: absolute;
  top: 30px;
  left: 1px;
  width: 102px;
  height: 30px;
}
#s-a8817caf-c32a-4e45-8664-5653ce92f591 #s-Label_739 {
  position: absolute;
  top: 0px;
  left: 24px;
  width: 78px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-a8817caf-c32a-4e45-8664-5653ce92f591 #s-Label_739 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a8817caf-c32a-4e45-8664-5653ce92f591 #s-Label_739 span {
  color: #007DFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-a8817caf-c32a-4e45-8664-5653ce92f591 #s-Label_739 span#rtr-s-Label_739_0 {
  color: #007DFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-a8817caf-c32a-4e45-8664-5653ce92f591 #s-Label_740 {
  position: absolute;
  top: 3px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-a8817caf-c32a-4e45-8664-5653ce92f591 #s-Label_740 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a8817caf-c32a-4e45-8664-5653ce92f591 #s-Label_740 span {
  color: #157EFB;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-a8817caf-c32a-4e45-8664-5653ce92f591 #s-Label_740 span#rtr-s-Label_740_0 {
  color: #157EFB;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-a8817caf-c32a-4e45-8664-5653ce92f591 #s-email-detail-header {
  position: absolute;
  top: 64px;
  left: 0px;
  width: 375px;
  height: 84px;
}
#s-a8817caf-c32a-4e45-8664-5653ce92f591 #s-Rich_text_78 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 15px;
  width: 360px;
  height: 84px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 27px;
  font-size: 14.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-a8817caf-c32a-4e45-8664-5653ce92f591 #s-Rich_text_78 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a8817caf-c32a-4e45-8664-5653ce92f591 #s-Rich_text_78 span {
  color: #007DFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
}
#s-a8817caf-c32a-4e45-8664-5653ce92f591 #s-Rich_text_78 span#rtr-s-Rich_text_78_0 {
  color: #007DFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-a8817caf-c32a-4e45-8664-5653ce92f591 #s-Rich_text_78 span#rtr-s-Rich_text_78_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-a8817caf-c32a-4e45-8664-5653ce92f591 #s-Rich_text_78 span#rtr-s-Rich_text_78_2 {
  color: #007DFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-a8817caf-c32a-4e45-8664-5653ce92f591 #s-Rich_text_78 span#rtr-s-Rich_text_78_3 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-a8817caf-c32a-4e45-8664-5653ce92f591 #s-Image_18 {
  position: absolute;
  top: 16px;
  left: 305px;
  width: 55px;
  height: 55px;
  opacity: 0.98;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-a8817caf-c32a-4e45-8664-5653ce92f591 #s-Line_49 {
  position: absolute;
  top: 83px;
  left: 13px;
  width: 360px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-a8817caf-c32a-4e45-8664-5653ce92f591 #s-Dialog-3 {
  position: absolute;
  top: 260px;
  left: 54px;
  width: 270px;
  height: 158px;
}
#s-a8817caf-c32a-4e45-8664-5653ce92f591 #s-Rich_text_11 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 22px;
  width: 266px;
  height: 134px;
  background-color: #F8F8F8;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 4px 4px 4px 4px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  opacity: 0.95;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 25px;
  font-size: 13.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-a8817caf-c32a-4e45-8664-5653ce92f591 #s-Rich_text_11 .valign {
  vertical-align: top;
  text-align: center;
}
#s-a8817caf-c32a-4e45-8664-5653ce92f591 #s-Rich_text_11 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 13.0pt;
}
#s-a8817caf-c32a-4e45-8664-5653ce92f591 #s-Rich_text_11 span#rtr-s-Rich_text_11_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 13.0pt;
  line-height: 0px;
}
#s-a8817caf-c32a-4e45-8664-5653ce92f591 #s-Rich_text_11 span#rtr-s-Rich_text_11_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-a8817caf-c32a-4e45-8664-5653ce92f591 #s-Label_28 {
  position: absolute;
  top: 111px;
  left: 0px;
  width: 135px;
  height: 46px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-a8817caf-c32a-4e45-8664-5653ce92f591 #s-Label_28 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a8817caf-c32a-4e45-8664-5653ce92f591 #s-Label_28 span {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-a8817caf-c32a-4e45-8664-5653ce92f591 #s-Label_28 span#rtr-s-Label_28_0 {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-a8817caf-c32a-4e45-8664-5653ce92f591 #s-Label_29 {
  position: absolute;
  top: 111px;
  left: 135px;
  width: 135px;
  height: 46px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-a8817caf-c32a-4e45-8664-5653ce92f591 #s-Label_29 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a8817caf-c32a-4e45-8664-5653ce92f591 #s-Label_29 span {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-a8817caf-c32a-4e45-8664-5653ce92f591 #s-Label_29 span#rtr-s-Label_29_0 {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-a8817caf-c32a-4e45-8664-5653ce92f591 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}