#s-c230b15e-6b09-4ad3-a293-b40536946460 #s-Button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c230b15e-6b09-4ad3-a293-b40536946460 #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c230b15e-6b09-4ad3-a293-b40536946460 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-c230b15e-6b09-4ad3-a293-b40536946460 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}