

body {
    font-size: 1rem;
    font-family: roboto;
    color: black;
    background: #55BB91;
    background-size: cover;
    margin: 1rem 8rem 3rem 8rem;
    padding: 0 0 0 0;

}

h1 {
    font-size: 2rem;
    text-align: center;
    padding: 0 0 0 0;
    margin: 0rem 0rem 0rem 0rem;
    text-shadow: 7px 7px 7px #324039;
}

h3 {
    font-size: 1rem;
    text-align: center;
    padding: 0.25em 0 .50em 0;
    margin: 0rem 0rem 0rem 0rem;
}

h2 {
    font-size: 1.25rem;
    text-align: center;
    padding:  .75rem 0 0 0;
    margin: 0rem 0rem 0rem 0rem;
}

.chapterhead {
    font-size: 1.5rem;
    padding:  0 0 0 0;
    margin: 1.25rem 0rem 1rem 0rem;
}

.chapters {
    font-size: 1rem;
    text-align: center;
    padding:  0 0 0 0;
    margin: .25rem 0rem 0rem 0rem;

}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p {
    text-align: justify;
}
